body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
  color: black;
  transition: .5s;
  overflow-x: hidden; }

h1 {
  text-align: center; }

/* MARK: - Loading icon modified from loading.io */
#lds-ring {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  z-index: 1000;
  transition: .5s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  #lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 4px solid;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: black black black black;
    background: linear-gradient(#D1545B 0, #D1545B 47.5%, #000000 47.5%, #000000 52.5%, #DFE0ED 52.5%, #DFE0ED 100%); }
    #lds-ring div:nth-child(1) {
      width: 15px;
      height: 15px;
      position: absolute;
      z-index: 1001;
      border: 2px solid;
      background: #DFE0ED;
      top: 24px;
      left: 24px; }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* MARK: - Cards - */
.card {
  position: absolute;
  display: inline-block;
  border-radius: 7px;
  padding-right: 10px;
  cursor: pointer;
  animation: tilt 1s infinite;
  transition: .5s; }

.seen-card {
  position: absolute;
  animation: none;
  left: 10px;
  cursor: pointer; }

/* Shine effect modified from: https://codepen.io/paigen11/pen/VwKZGMp */
.holo {
  position: absolute;
  overflow: hidden;
  z-index: 100; }
  .holo::before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    top: 0;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
    z-index: 1000; }
  .holo::after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    top: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
    z-index: 1000; }
  .holo::before, .holo::after {
    animation: shine 2s infinite;
    animation-delay: .8s; }

.sm-energy {
  background-color: #FFE165;
  border: 6px solid #FFE165;
  border-top: 8px solid #FFE165;
  border-bottom: 4px solid #FFE165;
  border-radius: 7px; }

.booster-container {
  position: relative;
  padding: 20px;
  height: auto;
  width: auto;
  cursor: pointer;
  transition: .5s;
  text-align: center;
  z-index: 10; }

.booster-art {
  height: 400px;
  width: auto;
  animation: tilt .5s infinite; }

.zoom {
  animation: zoom 1s forwards;
  transform-origin: top-left; }

@keyframes shine {
  0% {
    transform: translateX(-300px) skewX(-15deg); }
  100% {
    transform: translateX(300px) skewX(-15deg); } }

@keyframes tilt {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  35% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg); }
  65% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes zoom {
  0% {
    transform: scale(1);
    opacity: 100; }
  90% {
    opacity: 75%; }
  100% {
    transform: scale(5);
    opacity: 0; } }

/* MARK: - Other - */
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh; }

.hidden {
  opacity: 0;
  display: none;
  visibility: hidden;
  transition: .5s; }

/* MARK: - Media Queries for different screen sizes - */
