<div id="content">
    <div id="lds-ring"><div></div><div></div></div>
    <div id="err-disp" class="hidden"></div>

    <div id="set-container">
        <label for="sets" class="header">SET: </label><br>
        <select id="sets" name="sets" disabled></select>
        <button id="set-submit" disabled>Submit</button>
    </div>
    
    <div id="pack"></div>
</div>